<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Welcome to Settle up application</h1>
            <hr>
            <p>An app makes building and managing your daily expenses easy!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Fed up tracking by pen-n-papers to whom you owe? Stop doing, start using Settle Up application.</p>
                <%= link_to "Get Started!", new_user_registration_path, class: "page-scroll btn btn-default btn-xl sr-button" %>
            </div>
        </div>
    </div>
</section>